body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 3;
}

/*navbar*/

.dropdown, .submenu {
	position: absolute;
	display: none;
}

.dropdown > li , .submenu > li{
	position: relative;
	background: #222;
	width: 150px;
}

#nav-menu {
	padding: 0 20px;
	background: #222;
}

#nav-menu > li {
	position: relative;
	display: inline-block;
	width: 150px;
}

#nav-menu li:hover {
	background: #f9f100;
}

#nav-menu li:hover > ul {
	display: block;
}

#nav-menu a {
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	line-height: 30px;
}

#nav-menu a:hover {
	display: block;
	color: #222;
}

.submenu {
	margin-top: -30px;
	margin-left: 150px;
}

.submenu > li {
	position: relative;
	background: #222;
	width: 150px;
}

/*carousel*/

.active {
	background: #bbb !important;
	transition: 0.5s;
}

.dot {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 10px;
	border-radius: 50%;
	background: #444;
	cursor: pointer;
}

.indicator {
	text-align: center;
}

.next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

.next, .prev {
	position: absolute;
	top: 48%;
	padding: 20px;
	background: #444;
	color: #bbb;
	cursor: pointer;
	z-index: 2;
}

.next:hover, .prev:hover {
	box-shadow: 0 0 5px 2px #bbb;
	transition: 0.5s;
}

.prev {
	border-radius: 0 5px 5px 0;
}

.show {
	display: block !important;
	-webkit-animation: slide 0.5s;
	-o-animation: slide 0.5s;
	animation: slide 0.5s;
	transition: 0.5s;
	z-index: 1;
}

.out {
	display: block !important;
	-webkit-animation: slide-out 0.5s;
	-o-animation: slide-out 0.5s;
	animation: slide-out 0.5s;
	transition: 0.5s;
	z-index: 0;
}

.slide-container {
	position: relative;
	top: 50%;
	max-width: 1000px;
	min-height: 500px;
	margin: 20px auto; 
	box-shadow: 0 0 20px 5px #444;
	background: #ccc;
	overflow: hidden;
}

.slide-item {
	position: absolute;
	display: none;
	width: 100%;
}

.slide-item img {
	background-position: center;
	width: 100%;
}

.slide-item h1 {
	position: absolute;
	font-family: sans-serif;
	color: #f1f900;
}

@keyframes slide {
	0% {transform: translateX(100%);}
	100% {transform: none;}
}

@keyframes slide-out {
	0% {transform: none;}
	100% {transform: translateX(-100);}
}